* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: 'Montserrat', serif;
  font-weight: 300;
  line-height: 1.3em;
  color: gray; }

h1, h2, h3, h4, h5 {
  font-family: 'Josefin Sans', sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#contentBlock {
  position: fixed;
  top: 0;
  right: 0;
  width: 75vw;
  padding: 3em 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }
  #contentBlock #corpusBlock h2 {
    color: gray;
    margin-bottom: 0.5em; }
  #contentBlock #corpusBlock #corpus {
    overflow: scroll;
    height: 30vh;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em; }
  #contentBlock #vizBlock {
    height: 50vh; }
    #contentBlock #vizBlock h2 {
      color: gray;
      margin-bottom: 0.5em; }

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100vh;
  background-color: #9A393C;
  padding: 3em; }
  #sidebar p {
    color: white; }
  #sidebar h1 {
    margin-bottom: 1em;
    color: white; }
  #sidebar .sidebar-info h1 {
    margin: 1em 0; }
  #sidebar button {
    background-color: #800C0C;
    color: white;
    margin-bottom: 2em;
    width: 100%;
    border: none;
    padding: 1em;
    margin: 2em 0;
    font-size: 1em; }

#loginContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10em; }
  #loginContainer #loginInfo {
    text-align: right;
    width: 45%; }
    #loginContainer #loginInfo h1 {
      margin-bottom: 1em; }
    #loginContainer #loginInfo p {
      margin-bottom: 1em; }
      #loginContainer #loginInfo p a {
        font-size: 1em; }
  #loginContainer hr {
    margin: 0 5em; }
  #loginContainer #loginBlock {
    width: 45%; }
    #loginContainer #loginBlock p {
      margin-bottom: 1em; }
    #loginContainer #loginBlock button {
      background-color: #800C0C;
      color: white;
      margin-bottom: 2em;
      width: 100%;
      border: none;
      padding: 1em;
      margin: 2em 0;
      font-size: 1em; }

/*# sourceMappingURL=styles.css.map*/