$h2color: gray;

#contentBlock {
  position: fixed;
  top: 0;
  right: 0;
  width: 80vw;
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  #corpusBlock {
    h2 {
      color: $h2color;
      margin-bottom: 0.5em;
    }
    #corpus {
      overflow: scroll;
      height: 30vh;
    }
  }
  #vizBlock {
    height: 50vh;
    h2 {
      color: $h2color;
      margin-bottom: 0.5em;
    }
  }
}
